.searchMenu{
 background-color: red;
 z-index: 500;
}
.result{
    height: 10px;
    left: 0px;
    position: fixed;
    width: 20%;
}
.resultObj{
    display: inline-flex;
    height: 200%;
    width: 200%;
}
.elem{
    border: 1px black solid;
    width: 25%;
}