.searchMenu{
 background-color: red;
}
.result{
    height: 10px;
    margin-top: 200%;
}
.resultObj{
    display: inline-flex;
    
    height: 200%;
    width: 200%;
}
.elem{
    border: 1px black solid;
    width: 25%;
}