.header {
  width: 70%;
  background-color: rgb(214, 214, 154);
  display: flex;
  text-align: center;
  height: 10%;
}
.mainHeader{
  height: 10%;
  width: 100%;
  background-color: rgb(236, 236, 220);
  display: flex;
  text-align: center;
  font-size: larger;
  margin: 2px;
}
.mainName{
  background-color: rgb(179, 179, 166);
  border: 3px solid black;
}
.wrap {
  width: 100%;
  height: 100%;
  background-color: rgb(197, 197, 163);
}
.main{
  width: 100%;
  height: 100%;
  display: flex;
}
.elemScreen{
  margin-top: 4px;
  width: 80%;
  height: 100%;
}
.userBar{
  width: 20%;
  height: 100%;
  right: 0;
}
.manageButton{
  width: 50px;
  height: 50px;
}
.manageSelector{
  width: 100%;
  height: 10%;
}
.manageInfo{
  height: 10%;
  background-color: rgb(202, 158, 91);
}